/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/screen.scss */
.clr {
  clear: both;
}

/* line 29, ../sass/screen.scss */
.roundedborder, form, input[type='email'], input[type='text'], input[type='password'], :-webkit-autofill, textarea, input[type='submit'], input[type="submit"]:disabled:hover {
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 2px solid #161616;
}

/* line 34, ../sass/screen.scss */
body {
  background: #2f2f2f;
  color: #888888;
  font-family: Century Gothic;
  position: relative;
  overflow: hidden;
}

/* line 42, ../sass/screen.scss */
form {
  font-size: 1.2em;
  margin: 2em auto;
  padding: 2em;
  width: 70%;
  max-width: 700px;
}
/* line 50, ../sass/screen.scss */
form div.actions {
  width: 100%;
  text-align: right;
}
@media screen and (max-width: 500px) {
  /* line 50, ../sass/screen.scss */
  form div.actions {
    padding-bottom: 1em;
  }
}
/* line 60, ../sass/screen.scss */
form div.message {
  width: 100%;
  height: 1.2em;
  padding-bottom: 2em;
}
@media screen and (max-width: 800px) {
  /* line 60, ../sass/screen.scss */
  form div.message {
    height: 0.9em;
    padding-bottom: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  /* line 60, ../sass/screen.scss */
  form div.message {
    height: 0.6em;
    padding-bottom: 1em;
  }
}
/* line 76, ../sass/screen.scss */
form div.message p {
  color: #FA787E;
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  font-size: 1.2em;
  text-align: center;
  -moz-transition: visibility 0s, opacity 0.5s linear;
  -o-transition: visibility 0s, opacity 0.5s linear;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
@media screen and (max-width: 800px) {
  /* line 76, ../sass/screen.scss */
  form div.message p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 500px) {
  /* line 76, ../sass/screen.scss */
  form div.message p {
    font-size: 0.6em;
  }
}
/* line 92, ../sass/screen.scss */
form div.message p.ng-hide {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 101, ../sass/screen.scss */
input {
  outline: none;
}

/* line 102, ../sass/screen.scss */
label {
  padding: 0 .5em 0 .5em;
}
@media screen and (max-width: 500px) {
  /* line 102, ../sass/screen.scss */
  label {
    display: none;
  }
}

/* line 110, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #888888;
  font-weight: bold;
  cursor: pointer;
}

/* line 117, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 121, ../sass/screen.scss */
input[type='email'], input[type='text'], input[type='password'], :-webkit-autofill {
  background-color: #222222;
  color: #a2a2a2;
  font-size: 2em;
  margin: .2em 0 1em;
  padding: .25em;
  width: 100%;
}
@media screen and (max-width: 800px) {
  /* line 121, ../sass/screen.scss */
  input[type='email'], input[type='text'], input[type='password'], :-webkit-autofill {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  /* line 121, ../sass/screen.scss */
  input[type='email'], input[type='text'], input[type='password'], :-webkit-autofill {
    font-size: 1em;
  }
}

/* line 139, ../sass/screen.scss */
input.ng-touched {
  -moz-transition: linear 0.5s all;
  -o-transition: linear 0.5s all;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

/* line 143, ../sass/screen.scss */
input.ng-invalid.ng-touched {
  background-color: #fca9ad;
  border-color: #FA787E;
}

/* line 148, ../sass/screen.scss */
input.ng-valid.ng-touched {
  background-color: #222222;
}

/* line 152, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #494949;
}

/* line 153, ../sass/screen.scss */
:-moz-placeholder {
  color: #494949;
}

/* FF 18 */
/* line 154, ../sass/screen.scss */
::-moz-placeholder {
  color: #494949;
}

/* FF 19+ */
/* line 155, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #494949;
}

/* line 156, ../sass/screen.scss */
:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #222222 inset;
  -webkit-text-fill-color: #a2a2a2 !important;
}

/* line 161, ../sass/screen.scss */
textarea {
  background-color: #222222;
  color: #a2a2a2;
  font-size: 1em;
  height: 10em;
  margin: .5em 0 1em;
  padding: 1em;
  width: 100%;
}

/* line 172, ../sass/screen.scss */
input[type='submit'], input[type="submit"]:disabled:hover {
  border: 3px solid #161616;
  background-color: #3c3c3c;
  cursor: pointer;
  color: #afafaf;
  float: right;
  font-size: 1.5em;
  padding: .25em 1em;
  text-shadow: 0.1em 0.1em 0.2em #333;
}
@media screen and (max-width: 800px) {
  /* line 172, ../sass/screen.scss */
  input[type='submit'], input[type="submit"]:disabled:hover {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 500px) {
  /* line 172, ../sass/screen.scss */
  input[type='submit'], input[type="submit"]:disabled:hover {
    font-size: 1em;
  }
}

/* line 193, ../sass/screen.scss */
input[type='submit']:hover {
  background-color: #222222;
}

/* line 195, ../sass/screen.scss */
.user-control {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
}

/* line 204, ../sass/screen.scss */
.container.ng-enter, .container.ng-leave {
  -moz-transition: ease-in-out 0.75s;
  -o-transition: ease-in-out 0.75s;
  -webkit-transition: ease-in-out 0.75s;
  transition: ease-in-out 0.75s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 216, ../sass/screen.scss */
.container.ng-enter {
  left: 100%;
}
/* line 219, ../sass/screen.scss */
.container.ng-enter.ng-enter-active {
  left: 0;
}
/* line 224, ../sass/screen.scss */
.container.ng-leave.ng-leave-active {
  left: -100%;
}
