/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@mixin font-size($sizeValue: 1, $multiplier: 1) {
  font-size: ($sizeValue * $multiplier) + em;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clr {clear:both;}

$bg: #2f2f2f;
$text: lighten($bg,35%);

$valid: #78FA89;
$inValid: #FA787E;

$break-small: 500px;
$break-medium: 800px;

$font-size: 2;
$font-size-small: 1;
$font-size-medium: 1.5;

.roundedborder {
  @include border-radius (.2em);
  border: 2px solid darken($bg, 10%);
}

body {
  background: $bg;
  color:$text;
  font-family:Century Gothic;
  position:relative;
  overflow:hidden;
}

form {
  font-size:1.2em;
  margin: 2em auto;
  @extend .roundedborder;
  padding:2em;
  width:70%;
  max-width: 700px;

  div.actions {
    width: 100%;
    text-align: right;

    @media screen and (max-width: $break-small) {
      padding-bottom: ($font-size-small)+em;
    }

  }

  div.message {

    width: 100%;
    height: ($font-size*0.6)+em;
    padding-bottom:($font-size)+em;

    @media screen and (max-width: $break-medium) {
      height: ($font-size-medium*0.6)+em;
      padding-bottom:($font-size-medium)+em;
    }

    @media screen and (max-width: $break-small) {
      height: ($font-size-small*0.6)+em;
      padding-bottom:($font-size-small)+em;
    }

    p {
      color: $inValid;
      visibility: visible;
      @include opacity(1);
      @include font-size($font-size, 0.6);
      text-align: center;
      @include transition(visibility 0s, opacity 0.5s linear);

      @media screen and (max-width: $break-medium) {
        @include font-size($font-size-medium, 0.6);
      }

      @media screen and (max-width: $break-small) {
        @include font-size($font-size-small, 0.6);
      }

      &.ng-hide {
        visibility: hidden;
        @include opacity(0);
      }
    }
  }
}


input {outline:none;}
label {
  padding:0 .5em 0 .5em;

  @media screen and (max-width: $break-small) {
    display:none;
  }
}

a {
  text-decoration: none;
  color:$text;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

input[type='email'], input[type='text'], input[type='password'], :-webkit-autofill  {
  @extend .roundedborder;
  background-color: darken($bg, 5%);
  color: lighten($text, 10%);
  @include font-size($font-size);
  margin:.2em 0 1em;
  padding: .25em;
  width:100%;

  @media screen and (max-width: $break-medium) {
    @include font-size($font-size-medium);
  }

  @media screen and (max-width: $break-small) {
    @include font-size($font-size-small);
  }
}

input.ng-touched {
  @include transition(0.5s linear all);
}

input.ng-invalid.ng-touched {
  background-color: lighten($inValid, 10%);
  border-color: $inValid;
}

input.ng-valid.ng-touched {
    background-color: darken($bg, 5%);
 }

::-webkit-input-placeholder {color: lighten($bg, 10%);}
:-moz-placeholder {color: lighten($bg, 10%);} /* FF 18 */
::-moz-placeholder {color: lighten($bg, 10%);} /* FF 19+ */
:-ms-input-placeholder {color: lighten($bg, 10%);}
:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px darken($bg, 5%) inset;
    -webkit-text-fill-color: lighten($text, 10%) !important;
}

textarea {
  @extend .roundedborder;
  background-color: darken($bg, 5%);
  color: lighten($text, 10%);
  font-size:1em;
  height:10em;
  margin:.5em 0 1em;
  padding:1em;
  width:100%;
}

input[type='submit'], input[type="submit"]:disabled:hover {
  @extend .roundedborder;
  border: 3px solid darken($bg, 10%);
  background-color:lighten($bg, 5%);
  cursor:pointer;
  color:lighten($bg,50%);
  float:right;
  font-size:1.5em;
  padding: .25em 1em;
  @include text-shadow(.1em .1em .2em #333);

  @media screen and (max-width: $break-medium) {
    font-size:1.25em;
  }

  @media screen and (max-width: $break-small) {
    font-size:1em;
  }

}

input[type='submit']:hover {background-color:darken($bg,5%);}

.user-control {
  position: fixed;
  right:0;
  top:0;
  padding:10px;
}

.container {

  &.ng-enter, &.ng-leave {
    @include transition(0.75s ease-in-out);
    display:block;
    width:100%;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  &.ng-enter {
    left:100%;

    &.ng-enter-active {
      left:0;
    }
  }

  &.ng-leave.ng-leave-active {
    left:-100%;
  }
  
}
