<form name="form" ng-submit="login()">
  <div class="actions">
    <a ng-href="signup">Sign up</a>
  </div>
  <div>
    <label for="email">Email:</label>
    <input name="email" ng-model="user.email" type="email" placeholder="Email" ng-maxlength="100" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input name="password" ng-model="user.password" type="password" placeholder="Password" ng-maxlength="10" required>
  </div>
  <div class="message">
    <p ng-show="errorMessage">
      {{errorMessage}}
    </p>
  </div>
  <div>
    <input type="submit" ng-disabled="!form.$valid||submitting" value="{{submitting ? 'Checking' : 'Login' }}">
    <div class="clr"></div>
  </div>
</form>
